# The legacy daemon receives kernel camera events and serves the HAL's sockets.
type a11_camera_daemon, domain;
type a11_camera_daemon_exec, exec_type, vendor_file_type, file_type;
type a11_camera_socket, file_type, data_file_type;
init_daemon_domain(a11_camera_daemon)
type_transition a11_camera_daemon system_data_root_file:sock_file a11_camera_socket;

allow a11_camera_daemon device:dir r_dir_perms;
allow a11_camera_daemon { camera_device video_device ion_device }:chr_file rw_file_perms;
allow a11_camera_daemon system_data_root_file:dir rw_dir_perms;
allow a11_camera_daemon a11_camera_socket:sock_file create_file_perms;
allow a11_camera_daemon self:unix_stream_socket create_stream_socket_perms;
allow a11_camera_daemon self:unix_dgram_socket create_socket_perms;
allow cameraserver a11_camera_socket:sock_file rw_file_perms;
allow cameraserver a11_camera_daemon:unix_stream_socket connectto;
allow cameraserver a11_camera_daemon:unix_dgram_socket sendto;
