type firmware_file, fs_type, contextmount_type;
type persist_file, file_type;
type htc_qmux_radio_socket, file_type;
type htc_sysfs_graphics, fs_type, sysfs_type;
type htc_sysfs_gpuclk, fs_type, sysfs_type;
type htc_sysfs_sensors, fs_type, sysfs_type;
type htc_sysfs_socinfo, fs_type, sysfs_type;
type htc_sysfs_bdaddress, fs_type, sysfs_type;
type htc_sysfs_adsp, fs_type, sysfs_type;
type htc_wcnss_device, dev_type;
type htc_bt_smd_device, dev_type;
type htc_time_data_file, file_type, data_file_type;
type htc_proc_last_kmsg, fs_type, proc_type;
type htc_sysfs_cpu_boost, fs_type, sysfs_type;
type htc_sysfs_ksm, fs_type, sysfs_type;
