allow init firmware_file:dir mounton;
allow init htc_sysfs_sensors:file setattr;
allow init htc_sysfs_adsp:file w_file_perms;
allow init { htc_sysfs_cpu_boost htc_sysfs_ksm }:file w_file_perms;
allow init htc_proc_last_kmsg:file setattr;
