# init.a11chl.rc sets swap preference and byte-based dirty writeback limits.
allow vendor_init a11_proc_vm:file w_file_perms;
allow vendor_init proc_page_cluster:file w_file_perms;
